*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    /* background-image: linear-gradient(to right, red , yellow); */
    background: rgba(253,243,45,1);
    margin: 0px 65px 5%;
    font-family: montserrat;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
nav{
    background:#50394c;
    color: whitesmoke;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display:inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 1.2rem;
}
nav .mainMenu li a:hover{
    background: #b2b2b2;
    color: #50394c;
    
}
nav .openMenu {
    font-size: 2rem;
    margin: 10px;
    display: none;
    cursor: pointer;

}
nav .mainMenu .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:#50394c;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: #b2b2b2;
        font-size: 1.6rem;

    }
}
hr{
    border-radius: 5px;
}
.nume{
    color: rgb(188, 193, 197);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:#50394c;
    border-radius: 5px;
    background-size: 100%;
}
.cap{
    color:rgb(72, 84, 95);
    text-align: center;
    font-style: italic;
}
.pagina{
    margin: auto;
}


.textul{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: wavy, lightcoral;
}
